/* You can add global styles to this file, and also import other style files */
.book-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out
}

.book-card:hover .book-overlay {
  opacity: 1;
  transform: translateY(0);
}

.book-overlay {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
